/*About*/
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    margin: 2rem auto;

    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .about-item {
            border: 3px solid var(--color-grey-2);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);

            &:hover, &:focus, &:active {
                transform: translateY(-5px);
                border: 3px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }

            .abt-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column-reverse;
                
                position: relative;
                min-height: auto;
                width: 100%;

                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);

                    span {
                        color: var(--color-secondary);
                    }
                }

                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-grey-1);
                    letter-spacing: 2px;
                    font-weight: 700;

                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     left: 0;
                    //     top: 15px;
                    //     width: 2rem;
                    //     height: 2px;
                    //     background-color: var(--color-grey-5);
                    // }
                }
            }            
        }
    }

    .left-about {
        padding-right: 3rem;
        background-color: var(--color-primary);

        p {
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-grey-1);
        }

        h3 {
            font-size: 2.5rem;
            text-transform: uppercase;
        }

        .btn-con {
            display: flex;
            align-self: flex-start;
        
            .main-btn {
                background-color: var(--color-icon);
                outline: 2px solid var(--color-icon);
                
                .text {
                    padding: 0 1rem;
                }
                &:active, &:focus, &:hover {
                    outline: 2px solid var(--color-secondary);
                    background-color: var(--color-secondary);
                    color: var(--color-icon);
                }               
            }
        }
    }

}

.about-stats {
    display: flexbox;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;

    .progress-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-bottom: 2rem;

        .progress-bar {
            display: flex;
            flex-direction: column;

            .prog-title {
                text-transform: uppercase;
                font-weight: 500;
            }

            .progress-con {
                display: flex;
                align-items: center;

                .prog-text {
                    color: var(--color-grey-2);
                }

                .progress {
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey-4);
                    margin-left: 1rem;
                    position: relative;

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: all .4s ease-in-out;
                        width: 60%;
                    }

                    .html {
                        width: 95%;
                    }
                    .css {
                        width: 95%;
                    }
                    .rwd {
                        width: 90%;
                    }
                    .sass {
                        width: 75%;
                    }
                    .seo {
                        width: 60%;
                    }
                    .a11y {
                        width: 70%;
                    }
                    .js {
                        width: 55%;
                    }
                    .figma {
                        width: 70%;
                    }
                    .react {
                        width: 45%;
                    }
                    
                }
            }
        }
    }
}

.stat-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-secondary-bis);
        transform: translateX(-50%);
    }
}