@import './button';

section {
    // min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
    padding: 0 !important;
    overflow: hidden;
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
    margin: 2rem auto;
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {

        0% {
            transform: translateY(-100%) scaleY(0)
        }

        100% {
            transform: translateY(0) scaleY(1)
        }
    }
}

.main-title {
    text-align: center;
    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        .main-title-span {
            color: var(--color-secondary);
        }
        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-secondary);
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            z-index: -1;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
            opacity: .6;
        }
    }
    .logo-content {
        width: 50px;
        height: 50px;
        margin: 1rem 25% 0 75%;
        display: flex;
        align-items: center;

        p {
            font-size: .6rem;
            padding-right: .5rem;
        }

        .logo-wi {
            width: 48px;
            height: 48px;
            filter: var(--filter);
        }
    }
}