//Contact section
.contact-content-con {
    display: flex;
    padding-top: 3.5rem;

    .left-contact {
        flex: 2;

        h4 {
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                display: flex;
                // align-items: center;
                flex-direction: column;
                justify-content: space-between;
                p {
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }
                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .contact-icon {
            display: flex;
            margin-top: 2rem;

            a {
                display: flex;
                align-items: center;
                color: var(--color-grey0);
                background-color: var(--color-grey-4);
                border: 2px solid var(--color-icon);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;

                &:hover, &:active, &:focus {
                    background-color: var(--color-secondary);
                    outline: 2px solid var(--color-secondary);
                    i {
                        color: var(--color-primary);
                    }
                }
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact {
        flex: 3;
        margin-left: 3rem;

        p {
            font-size: .8rem;
        }

        .input-control {
            margin: .5rem 0;

            label {
                color: var(--color-reverse);
                display: flex;
                align-items: center;
                padding: 0 .5rem;
            }
            input, textarea {
                border-radius: 30px;
                font-weight: 600;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: 2px solid var(--color-secondary);
                background-color: var(--color-secondary-bis);
                width: 90%;
                resize: none;
                margin: .5rem 0;
                &::placeholder {
                    color: var(--color-black);
                    font-weight: 700;
                }
                &:active, &:focus, &:hover {
                    outline: 2px solid var(--color-secondary);
                    // background-color: var(--color-secondary);
                    color: var(--color-icon);
                }   
            }
        }
        .i-c-2{
            display: flex;
            :last-child{
                margin-left: .1rem;
            }
        }
        .mail-content {
            display: flex;
            flex-direction: column;
        }
        // .submit-btn-form{
        //     display: flex;
        //     justify-content: flex-start;
        //     .btn-text {
        //         font-weight: 600;
        //     }
        // }
        .btn-con {
            display: flex;
            align-self: flex-start;
        
            .main-btn {
                background-color: var(--color-icon);
                outline: 2px solid var(--color-icon);
                
                .text {
                    padding: 0 1rem;
                }
                &:active, &:focus, &:hover {
                    outline: 2px solid var(--color-secondary);
                    background-color: var(--color-secondary);
                    color: var(--color-icon);
                }               
            }
        }
        .error {
            display: none;
            background-color: var(--error);
            color: var(--color-reverse);
            outline: 2px solid var(--error-border);
            border-radius: 30px;
            font-weight: 600;
            font-size: inherit;
            font-family: inherit;
           
            width: 90%;
            resize: none;
            margin: .1rem 0;
            padding: .3rem 1rem;
        }
        .error.visible {
          display: block;
        }
        
    }
}
