#body-gallery {
    height: 100vh!important;
    width: 100%;
    overflow: scroll;
}
#header-content {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem 0;
    margin: .5rem auto;
}
.gallery-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 0 1rem !important;

    .logo-content {
        width: 50px;
        height: 50px;
        margin: 1rem 30% 0 70%;
        display: flex;
        align-items: center;

        p {
            font-size: .6rem;
            padding-right: .5rem;
        }

        img {
            width: 48px;
            height: 48px;
            fill: var(--color-primary);
            stroke: var(--color-primary);
        }
    }

    .search-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        form {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            margin: 1rem 0;
            padding: 1rem 0;

            label {
                font-size: 1.4rem;
            }
            input {
                border: 2px solid var(--color-secondary);
                height: 2rem;
                width: 70%;
                border-radius: 5px;
            }
            input:hover, input:focus {
                outline: 3px dotted var(--color-secondary);
                outline-offset: .1rem;
            }
        }
        @media screen and (max-width: 768px){
            form {
                width: 100%;
            }
        }
        @media (min-width: 769px) and (max-width: 990px){
            form {
                width: 80%;
            }
        }
    }

    .media-content--list {
        text-align: left;
        width: 100%;
        height: 100%;
        color: var(--color-text);
        .hidden {
            display: none;
        }
        ul {
            border: 1px double white;
            margin: 1rem auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .listss {              
                box-shadow: 3px 3px 10px black;
                margin: .5rem .5rem 3rem .5rem;
                width: 31%;
                
                cursor: pointer;
                transition: 400ms;
                list-style: none;

                border: 1px solid var(--color-secondary);
                justify-content: center;
                display: flex;

                .content {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    margin: 0 auto;
                    z-index: 10;
                    // min-height: 100%;
                    // height: 500px;
                    padding: .5rem;

                    .tag-content {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;

                        span {
                            border-bottom: 1px solid transparent;
                            &:hover {
                                border-bottom: 1px solid var(--color-secondary);
                            }
                        }
                    }

                    img {
                        height: 50%;
                        max-width: 230px;
                        margin: .5rem auto;
                    }
                    .main-btn {
                        color: var(--color-secondary);
                        background-color: var(--color-primary);
                        margin: .5rem auto 0;
                        
                        &:hover, &:focus {
                            color: var(--color-primary);
                            background-color: var(--color-secondary);
                        }
                    }
                }

                @media  screen and (max-width: 768px) {
                    width: 90%;
                    margin: .5rem auto;
                    justify-content: center;
                }
                @media (min-width: 769px) and (max-width: 1023px) {
                    width: 45%;
                }
            }
        }
    }

    .add-book {
        width: 100%;
        position: relative;
        display: none!important;
    }
}