.mentions-container {

    .h1, .h2, .h3, .h4, .h5, .h6 {
        text-decoration: underline;
        text-decoration-color: var(--color-secondary);
    }
    .h3 {
        margin-left: 1rem;
    }

    header {
        height: 6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    main {
        margin: 1rem auto;
        padding: 1.5rem;
        
        .content-text {
            margin: 1rem auto;
            padding: 1rem;
        }

        h2:focus {
            outline: 2px solid red;
        }
    }

    .mentions-footer {
        // background-color: var(--color-primary);
        border-top: 1px solid var(--color-secondary-bis);
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
    }
}