.theme-btn {
    top: 5%;
    right: 3%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1) ;
    transition: all .1s ease-in-out;

    &:focus, &:active, &:hover {
        transform: translateY(-3px);
        outline: 4px solid var(--color-secondary);
    }

    i {
        font-size: 1.4rem;
        color: var(--color-icon);
        pointer-events: none;
    }
}