// @import './utils/rem';
@import './utils/fonts';
@import './utils/variables';
@import './components/reset';

@import './components/nav';
@import './components/switch-btn';
@import './components/header';
@import './components/about-section';
@import './components/timeline';
@import './components/modal';
@import './components/portfolio';
@import './components/contact';
@import './components/gallery';
@import './components/page-of-library';
@import './components/footer';

@import './components/mentions';
@import './components/politique';

@import './components/component';

@import './components/media-queries';